<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">
      🍕 Pizzeria
    </a>
  </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/pages/menu.html">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/pages/promociones.html">Promociones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/pages/quienesSomos.html">Quiénes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/pages/ubicacion.html">Ubicación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/pages/contactanos.html">Contactanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>